<div class="center color_red size_ss">
    <br>【注意事項】<br>
</div>
<div class="left">
    <span class="color_red size_ss">
    ・予約可能期間はAM10:00〜AM11:59の間です。<br>
    ・予約できるお弁当は1種類につき3つまでです。(※欲張り厳禁)<br>
    ・何か事件が起きた際は、下記メールアドレスにご連絡下さい。<br>
    <p>&nbsp;&nbsp;[cho_takumi@grenge.co.jp]</p>
    </span>
</div>