<div id="stage" class="lunch paT0" style="position:relative">
    <div class="lunch_gorilla_logo">
        <img src="../img/99_lunch/logo_001.png" alt="" width="70%;" height="70%;">
    </div>
	<a href="../public/package/ios/ver1.0/sugorilunch.ipa" class="buttonL back_button maB10">iOS(ver1.0)</a>
	<a href="../public/package/android/ver1.0/sugorilunch.apk" class="buttonL back_button maB10">Andorid(ver1.0)</a>
</div>
