@charset "UTF-8";
/*======================
    ＊　変数設定　＊
======================*/
/* line 20, ../scss/_inc/_core/_variable.scss */
.color_white {
  color: #ffffff !important;
}
/* line 22, ../scss/_inc/_core/_variable.scss */
.color_white * {
  color: #ffffff !important;
}

/* line 26, ../scss/_inc/_core/_variable.scss */
.color_black {
  color: #000000 !important;
}
/* line 28, ../scss/_inc/_core/_variable.scss */
.color_black * {
  color: #000000 !important;
}

/* line 32, ../scss/_inc/_core/_variable.scss */
.color_brown {
  color: #382200 !important;
}
/* line 34, ../scss/_inc/_core/_variable.scss */
.color_brown * {
  color: #382200 !important;
}

/* line 38, ../scss/_inc/_core/_variable.scss */
.color_orange {
  color: #eab31e !important;
}
/* line 40, ../scss/_inc/_core/_variable.scss */
.color_orange * {
  color: #eab31e !important;
}

/* line 44, ../scss/_inc/_core/_variable.scss */
.color_green {
  color: #009e8a !important;
}
/* line 46, ../scss/_inc/_core/_variable.scss */
.color_green * {
  color: #009e8a !important;
}

/* line 50, ../scss/_inc/_core/_variable.scss */
.color_red {
  color: #ed0707 !important;
}
/* line 52, ../scss/_inc/_core/_variable.scss */
.color_red * {
  color: #ed0707 !important;
}

/* line 56, ../scss/_inc/_core/_variable.scss */
.color_yellow {
  color: #fdef27 !important;
}
/* line 58, ../scss/_inc/_core/_variable.scss */
.color_yellow * {
  color: #fdef27 !important;
}

/* line 63, ../scss/_inc/_core/_variable.scss */
.text_gradation,
.color_gold {
  color: #ebd47f !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}
/* line 67, ../scss/_inc/_core/_variable.scss */
.text_gradation *,
.color_gold * {
  color: #ebd47f !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}

/* line 72, ../scss/_inc/_core/_variable.scss */
.color_silver {
  color: #aaa !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}
/* line 75, ../scss/_inc/_core/_variable.scss */
.color_silver * {
  color: #aaa !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}

/* line 83, ../scss/_inc/_core/_variable.scss */
.text_shadow_white {
  text-shadow: 0px 0px 0px #fff, 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 0px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff, -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 2px #fff, 1px 0px 2px #fff, 0px 1px 2px #fff, -1px 0px 2px #fff, 0px -1px 2px #fff, 0px 0px 3px #fff, 1px 0px 3px #fff, 0px 1px 3px #fff, -1px 0px 3px #fff, 0px -1px 3px #fff;
}
/* line 112, ../scss/_inc/_core/_variable.scss */
.text_shadow_white * {
  text-shadow: 0px 0px 0px #fff, 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 0px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff, -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 2px #fff, 1px 0px 2px #fff, 0px 1px 2px #fff, -1px 0px 2px #fff, 0px -1px 2px #fff, 0px 0px 3px #fff, 1px 0px 3px #fff, 0px 1px 3px #fff, -1px 0px 3px #fff, 0px -1px 3px #fff;
}

/* line 143, ../scss/_inc/_core/_variable.scss */
.text_shadow_black {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}
/* line 149, ../scss/_inc/_core/_variable.scss */
.text_shadow_black * {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/* ■　変数設定 ■----------------------------------------------------------- */
/*--------------------
    スゴリランチ
--------------------*/
/* line 4, ../scss/_inc/_layout/_lunch.scss */
body {
  background: #eff3f6;
  min-height: 480px;
}

/* line 9, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_title {
  width: 100%;
  padding: 5px 0;
  background-color: #f8e352;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
/* line 18, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu {
  position: relative;
  display: inline-block;
  width: 140px;
  margin: 10px 5px;
  text-align: left;
}
/* line 25, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu .lunch_menu_image {
  width: 140px;
  height: 140px;
  overflow: hidden;
}
/* line 30, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu .lunch_menu_name {
  width: 140px;
  font-size: 12px;
}
/* line 34, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu .order_button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: #f8e352;
}
/* line 41, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu .sold_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}
/* line 52, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 10px 5px;
  text-align: left;
}
/* line 59, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .lunch_menu_image {
  width: 300px;
  height: 150px;
  overflow: hidden;
}
/* line 64, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .lunch_menu_name {
  width: 300px;
}
/* line 67, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .order_button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: #f8e352;
}
/* line 73, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .order_button .order_datetime {
  display: inline-block;
  padding: 20px 0 0;
  vertical-align: top;
}
/* line 79, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .sold_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}
/* line 87, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu .complete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}

/* line 99, ../scss/_inc/_layout/_lunch.scss */
#popup .popup_box {
  background: #eff3f6;
}
/* line 101, ../scss/_inc/_layout/_lunch.scss */
#popup .popup_box .popup_header {
  background: #eff3f6;
}
/* line 104, ../scss/_inc/_layout/_lunch.scss */
#popup .popup_box .popup_footer {
  background: #eff3f6;
}
/* line 109, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu {
  position: relative;
  display: inline-block;
  width: 270px;
  margin: 10px 5px;
  text-align: left;
}
/* line 116, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .lunch_menu_image {
  width: 270px;
  height: 130px;
  overflow: hidden;
}
/* line 121, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .lunch_menu_name {
  width: 270px;
}
/* line 124, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .order_button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: #f8e352;
}
/* line 130, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .order_button .order_datetime {
  display: inline-block;
  padding: 20px 0 0;
  vertical-align: top;
}
/* line 136, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .sold_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}
/* line 144, ../scss/_inc/_layout/_lunch.scss */
#popup .lunch_box_wrapper .lunch_menu .complete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}

/* line 155, ../scss/_inc/_layout/_lunch.scss */
.buttonM {
  display: inline-block;
  width: 140px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
}

/* line 162, ../scss/_inc/_layout/_lunch.scss */
.buttonL {
  display: inline-block;
  width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
}

/* line 169, ../scss/_inc/_layout/_lunch.scss */
.back_button {
  background: #afd0ef;
}

/* line 172, ../scss/_inc/_layout/_lunch.scss */
.next_button {
  background: #dd9cb4;
}
/* line 174, ../scss/_inc/_layout/_lunch.scss */
.next_button.disable {
  background: #a5a79a;
}
