<div id="stage" class="lunch" style="position:relative">
    <img src="../img/99_lunch/logo_001.png" alt="" width="75%;" height="750%;">
    <div class="center">
        <p class="color_red size_ll">工事中...</p>
        <span class="color_red size_s">ガチャガチャ...</span>
    </div>
    <a href="/top %>" class="buttonL back_button maT10 maB10">TOPへ</a>
</div>