<!DOCTYPE html>
<html>
  <head>
    <title>{{= appSettings.title }}</title>
    {{ include ../elements/common_head_directive }}
    {{ include ../elements/global_settings }}

  </head>
  <body>
    {{ include ../elements/common_header }}
    {{- body }}
    {{ include ../elements/common_footer }}
  </body>
</html>
